Repository toad-frogski/visits-django: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, deploy_frontend, deploy_app, apply_migrations

.gitlab-ci.yml:

stages:
  - build image
  - test
  - build
  - deploy

#
#  STAGE: BUILD IMAGE
#

build_backend_dev:
  stage: build image
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY_IMAGE/backend:dev backend -f backend/Dockerfile.dev
    - docker push $CI_REGISTRY_IMAGE/backend:dev
  rules:
    - if: $CI_COMMIT_BRANCH == "development"
      when: on_success
  tags:
    - builder

build_backend:
  stage: build image
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY_IMAGE/backend:latest backend
    - docker push $CI_REGISTRY_IMAGE/backend:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      when: on_success
      changes:
        - backend/{,**/}*
        - .gitlab-ci.yml
  tags:
    - builder

build_mqtt_subscriber:
  stage: build image
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY_IMAGE/mqtt_subscriber:latest mqtt_subscriber
    - docker push $CI_REGISTRY_IMAGE/mqtt_subscriber:latest

#
#  STAGE: BUILD
#

generate_schema:
  stage: build
  image: $CI_REGISTRY_IMAGE/backend:latest
  script:
    - python manage.py spectacular --file schema.yml
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      when: on_success
  artifacts:
    paths:
      - schema.yml
    expire_in: 1 day
  tags:
    - docker-builder

build_frontend:
  stage: build
  image: node:20
  needs:
    - job: generate_schema
      artifacts: true
  script:
    - test -z "$FRONTEND_ENV_FILE" && exit 1
    - echo "$MQTT_ENV_FILE" > frontend/.env
    - cd frontend
    - yarn install
    - SCHEMA_URL=$API_SCHEMA_URL yarn api:api:generate
    - yarn build
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      when: on_success
  artifacts:
    paths:
      - frontend/dist
  tags:
    - docker-builder


#
#  STAGE: DEPLOY
#

deploy_frontend:
  stage: deploy
  script:
    - test -z "$PROJECT_ROOT" && exit 1
    - cd $PROJECT_ROOT
    - rsync $CI_PROJECT_ROOT/frontend/dist/ $PROJECT_ROOT/frontend/dist/
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      when: on_success
      changes:
        - frontend/{,**/}*
        - .gitlab-ci.yml
  tags:
    - ssh-deploy

deploy_app:
  stage: deploy
  needs:
    - job: deploy_frontend
  script:
    - echo "Deploying app..."
    - test -z "$PROJECT_ROOT" && exit 1
    - test -z "$BACKEND_ENV_FILE" && exit 1
    - test -z "$MQTT_ENV_FILE" && exit 1
    - cd $PROJECT_ROOT
    - echo "$BACKEND_ENV_FILE" > backend/.env
    - echo "$MQTT_ENV_FILE" > mqtt_subscriber/.env
    - docker compose pull
    - docker compose up -d
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      when: on_success
      changes:
        - backend/{,**/}*
        - .gitlab-ci.yml
  tags:
    - ssh-deploy

apply_migrations:
  stage: deploy
  needs:
    - job: deploy_app
  script:
    - test -z "$PROJECT_ROOT" && exit 1
    - cd $PROJECT_ROOT
    - docker compose run --rm --no-deps backend python manage.py migrate
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      when: on_success
      changes:
        - backend/*/migrations/
        - backend/*/migrations/*.py
        - .gitlab-ci.yml

test pipeline
  .gitlab-ci.yml
  docker-compose.yml
Due: build_backend, deploy_frontend, deploy_app, apply_migrations

prepare for deploy
  .gitlab-ci.yml
  backend/Dockerfile
  docker-compose.override.dev.yml
  docker-compose.yml
  frontend/src/app/app.tsx
  nginx/conf.d/www.conf
  nginx/conf.dev.d/www.conf
Due: build_backend, deploy_frontend, deploy_app, apply_migrations

replace command
  backend/session/management/__init__.py
  backend/session/management/commands/__init__.py
  backend/visits/management/commands/sync_sessions.py
Due: build_backend, deploy_app

ro locale
  frontend/public/locales/en/settings.json
  frontend/public/locales/ro/auth.json
  frontend/public/locales/ro/common.json
  frontend/public/locales/ro/dashboard.json
  frontend/public/locales/ro/settings.json
  frontend/public/locales/ro/visits-controller.json
  frontend/public/locales/ru/settings.json
  frontend/src/features/settings/ui/rfid-form.tsx
Due: deploy_frontend

renaming of jobs
  .gitlab-ci.yml
Due: build_backend, deploy_frontend, deploy_app, apply_migrations

little refactor
  backend/main/settings.py
  backend/main/urls.py
  backend/plugins/__init__.py
  backend/plugins/holidays/__init__.py
  backend/plugins/holidays/apps.py
  backend/plugins/holidays/callbacks.py
  backend/plugins/holidays/serializers.py
  backend/plugins/redmine/__init__.py
  backend/plugins/redmine/apps.py
  backend/plugins/redmine/callbacks.py
  backend/plugins/redmine/helpers.py
  backend/plugins/redmine/models.py
  backend/plugins/redmine/serializers.py
  backend/plugins/redmine/urls.py
  backend/plugins/redmine/views.py
  backend/rfid/admin.py
  backend/session/admin.py
  backend/visits/admin.py
  backend/visits/apps.py
  backend/visits/callbacks.py
  backend/visits/registry/__init__.py
  backend/visits/registry/decorators.py
  backend/visits/registry/store.py
  backend/visits/registry/types.py
  backend/visits/serializers.py
  backend/visits/services.py
  backend/visits/urls.py
  frontend/src/features/dashboard/model/use-redmine-timer.ts
Due: build_backend, deploy_frontend, deploy_app

little refactor 2
  .gitlab-ci.yml
Due: build_backend, deploy_frontend, deploy_app, apply_migrations

ci fix + frontend env fix
  .gitlab-ci.yml
  frontend/.env.dist
Due: build_backend, deploy_frontend, deploy_app, apply_migrations

ci fix 2
  .gitlab-ci.yml
Due: build_backend, deploy_frontend, deploy_app, apply_migrations

ci fix 3
  .gitlab-ci.yml
Due: build_backend, deploy_frontend, deploy_app, apply_migrations

ci fix 4
  .gitlab-ci.yml
Due: build_backend, deploy_frontend, deploy_app, apply_migrations

ci fix 5
  .gitlab-ci.yml
  docker-compose.yml
Due: build_backend, deploy_frontend, deploy_app, apply_migrations

ci fix 6
  .gitlab-ci.yml
Due: build_backend, deploy_frontend, deploy_app, apply_migrations

ci fix 7
  .gitlab-ci.yml
Due: build_backend, deploy_frontend, deploy_app, apply_migrations

[ui] change error message on main page
  frontend/src/features/user-list/user-list.page.tsx
  frontend/src/features/visits-controller/ui/visits-session-controller.tsx
Due: deploy_frontend

dockerfile fix + ui fix
  backend/Dockerfile.dev
  backend/main/settings.py
  frontend/src/features/auth/ui/login-form.tsx
Due: build_backend, deploy_frontend, deploy_app

display last entry time on user card
  backend/visits/serializers.py
  backend/visits/views.py
  frontend/src/features/user-list/ui/user-card.tsx
Due: build_backend, deploy_frontend, deploy_app

migrate to uv
  .gitlab-ci.yml
  backend/.python-version
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/main/asgi.py
  backend/main/settings.py
  backend/plugins/holidays/callbacks.py
  backend/plugins/redmine/callbacks.py
  backend/pyproject.toml
  backend/session/models.py
  backend/session/serializers.py
  backend/uv.lock
  backend/visits/registry/decorators.py
  backend/visits/registry/types.py
  backend/visits/views.py
  docker-compose.override.dev.yml
  docker-compose.yml
  nginx/conf.d/www.conf
  nginx/conf.dev.d/www.conf
Due: build_backend, deploy_frontend, deploy_app, apply_migrations

configure ruff
  backend/main/asgi.py
  backend/plugins/holidays/apps.py
  backend/plugins/holidays/callbacks.py
  backend/plugins/redmine/apps.py
  backend/rfid/apps.py
  backend/rfid/authentication.py
  backend/rfid/views.py
  backend/ruff.toml
  backend/session/apps.py
  backend/session/serializers.py
  backend/visits/apps.py
  backend/visits/services.py
  backend/visits/tests.py
  backend/visits/views.py
Due: build_backend, deploy_app

configure ruff
  .gitlab-ci.yml
  backend/.gitignore
Due: build_backend, deploy_frontend, deploy_app, apply_migrations

fix ci
  .gitlab-ci.yml
Due: build_backend, deploy_frontend, deploy_app, apply_migrations

updated time interval processing
  backend/pyproject.toml
  backend/rfid/apps.py
  backend/uv.lock
  backend/visits/admin.py
  backend/visits/models.py
  backend/visits/services.py
  backend/visits/tests.py
  backend/visits/views.py
  frontend/public/assets/img/cheater.png
  frontend/src/features/user-list/ui/user-card.tsx
Due: build_backend, deploy_frontend, deploy_app

fix empty end insert
  backend/visits/services.py
  backend/visits/tests.py
Due: build_backend, deploy_app

add handling gaps in timeline
  backend/visits/services.py
  backend/visits/tests.py
Due: build_backend, deploy_app

refactor registy + tests
  backend/main/settings.py
  backend/plugins/holidays/apps.py
  backend/plugins/holidays/services.py
  backend/plugins/redmine/apps.py
  backend/plugins/redmine/callbacks.py
  backend/plugins/redmine/services.py
  backend/pyproject.toml
  backend/rfid/admin.py
  backend/session/admin.py
  backend/uv.lock
  backend/visits/admin.py
  backend/visits/apps.py
  backend/visits/models.py
  backend/visits/registry.py
  backend/visits/registry/__init__.py
  backend/visits/registry/decorators.py
  backend/visits/registry/store.py
  backend/visits/registry/types.py
  backend/visits/serializers.py
  backend/visits/services.py
  backend/visits/tests.py
  backend/visits/urls.py
Due: build_backend, deploy_app

hr_deeplace plugin
  backend/main/settings.py
  backend/plugins/holidays/serializers.py
  backend/plugins/holidays/services.py
  backend/plugins/hr_deeplace/__init__.py
  backend/plugins/hr_deeplace/serializers.py
  backend/plugins/hr_deeplace/services.py
  backend/plugins/redmine/helpers.py
  backend/plugins/redmine/serializers.py
  backend/plugins/redmine/services.py
  backend/plugins/redmine/views.py
  backend/visits/models.py
  backend/visits/serializers.py
  backend/visits/views.py
  frontend/src/features/user-list/ui/user-card.tsx
  frontend/src/features/user-list/user-list.page.tsx
Due: build_backend, deploy_frontend, deploy_app

apply_intervals method + tests
  backend/main/settings.py
  backend/plugins/hr_deeplace/services.py
  backend/visits/services.py
  backend/visits/tests.py
  backend/visits/urls.py
  backend/visits/views.py
  frontend/src/features/user-list/ui/user-card.tsx
Due: build_backend, deploy_frontend, deploy_app

delete unused
  backend/visits/urls.py
  backend/visits/views.py
  frontend/src/features/visits-controller/model/use-visits-session-controller.ts
Due: build_backend, deploy_frontend, deploy_app
